.App {
  text-align: center;
  background-image: url("https://cdn.hipwallpaper.com/i/84/39/Awykrv.jpg");

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.primary-bttn:hover {
  background: #257603;
}

.secondary-bttn{
  font-size: 10px;
  background: #fff;
  text-decoration: none;
  padding: 10px;
  border-radius: 30px;
  color: #39BE00;
  font-weight: 700;
}

.secondary-bttn:hover {
  background: #D3D3D3;
}

.navLog {
  float: right;
  position: absolute;
  top: 4%;
  right: 4%;
}

.navLog a {
  color:#fff;
  text-decoration: none;
  font-weight: bold
}

.nav a{
  color:#fff;
  text-decoration: none;
  font-weight: bold
}

.nav a:hover {
  text-decoration: underline;
}

.navLog a:hover{
  text-decoration: underline;
}


.App-header {
  min-height: 100vh;
  display: block;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#pet-select {
  height: 46px;
  font-size: 20px;
  width: 212px;
  border: 3px solid #fff;
}


.track-container-meal {
  flex:1;
  display: flex;
  background: #388005;
  justify-content: center;
  align-items: center;
  border: 5px solid #fff;
  border-radius: 10px;
  padding: 2%;
  margin: 5%;
  width: 90%;
}

.track-box {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 30%;
}

.input-card{
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;
  background: #fff;
  border-top: 10px solid #39BE00;
  padding: 10%;
  color: #222;
  font-family: "Open Sans";
  font-size: 24px;
  font-style: normal;
  width: 100%;
  height: 50%;
}

.input-text{
  background-color: '#39BE00';
  color: #222;
  font-family: "Arial";
  font-size: 15px;
  font-style: normal;
  flex: 1
}


.track-container-exercise {
  flex: 1;
  display: flex;
  background: #388005;
  justify-content: center;
  border: 5px solid #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
}

.track-container {
  display: flex;
  background: #388005;
  justify-content: center;
  border: 5px solid #fff;
  border-radius: 10px;
  padding: 10px;
  margin: 30px;
  
}

.top-section{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.graph-section{
  flex: 3;
  background: #388005;
  border: 5px solid #fff;
  border-radius: 10px;
  padding: 2%;
  margin: 30px;
}



.food-header{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 5%;
}

.food-add{
  justify-content: flex-end;
  align-items: center;
  top: 20
}

.note-card{
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #fff;
  border-top: 10px solid #39BE00;
  padding: 10px;
}

.input-pic{
  height: 200px;
  width: 200px;
  margin-bottom: 5%; 
}


.exercise-card{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 800px;
  background: #fff;
  border-top: 10px solid #39BE00;
  padding: 3%;
}

.exercise-text{
  justify-content: flex-start;
  color: #222;
  font-family: "Arial";
  font-size: 15px;
  font-style: bold;
}

.exercise-buttons{
  justify-content: flex-end;
}

.calendar-page{
  justify-content: center;
}

.calendar-div{
  display: inline-block;
  justify-content: center;
}

.calendar{
  align-items: center;
  width: 1300px;
}

.exercise-plan-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #388005;
  justify-content: center;
  border: 5px solid #fff;
  border-radius: 10px;
  padding: 3%;
  margin: 30px;
  
}

.date-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #388005;
  border: 5px solid #fff;
  border-radius: 10px;
  padding: 2%;
}

.exercise-plan-display{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.graphs-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.top-graphs-div{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width:100%;
}

.exercise-note{
  color: #333;
  font-size: 50%;
}

.food-note{
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #333;
  font-size: 80%;
}

.food-note-text{
  width: 200px;
}